div.component-group {
  width: 100%;
  margin-bottom: 0.5rem;

  img {
    max-width: 100%;
  }

  p {
    font-size: 0.8rem;
  }
}

input {
  outline: none;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 3rem;
  background-color: #eee;
}
