@import 'colors';

div.component-group {
  width: 100%;
  margin-bottom: 0.5rem;

  img {
    max-width: 100%;
  }

  p {
    font-size: 0.8rem;
  }
}

@include theme {
  input[type='text'],
  textarea {
    outline: none;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid color(color-border-primary);
    border-radius: 1.5rem;
    background-color: color(color-bg-tertiary);

    &::placeholder {
      color: color(color-text-placeholder);
    }
  }
}
