$default-theme: 'light';
$scheme: (
  light: (
    tint: darken,
    dark: #24292e,
    color-auto-black: #1b1f23,
    color-auto-white: #fff,
    color-auto-gray-3: #d1d5da,
    color-auto-gray-4: #959da5,
    color-auto-gray-5: #6a737d,
    color-auto-gray-6: #586069,
    color-auto-blue-3: #79b8ff,
    color-auto-blue-4: #2188ff,
    color-auto-blue-5: #0366d6,
    color-auto-blue-6: #005cc5,
    color-auto-green-3: #85e89d,
    color-auto-green-4: #34d058,
    color-auto-green-5: #28a745,
    color-auto-green-6: #22863a,
    color-auto-yellow-3: #ffea7f,
    color-auto-yellow-4: #ffdf5d,
    color-auto-yellow-5: #ffd33d,
    color-auto-yellow-6: #f9c513,
    color-auto-orange-3: #ffab70,
    color-auto-orange-4: #fb8532,
    color-auto-orange-5: #f66a0a,
    color-auto-orange-6: #e36209,
    color-auto-red-3: #f97583,
    color-auto-red-4: #ea4a5a,
    color-auto-red-5: #d73a49,
    color-auto-red-6: #cb2431,
    color-auto-purple-3: #b392f0,
    color-auto-purple-4: #8a63d2,
    color-auto-purple-5: #6f42c1,
    color-auto-purple-6: #5a32a3,
    color-auto-pink-3: #f692ce,
    color-auto-pink-4: #ec6cb9,
    color-auto-pink-5: #ea4aaa,
    color-auto-pink-6: #d03592,
    color-text-primary: #24292e,
    color-text-secondary: #586069,
    color-text-tertiary: #6a737d,
    color-text-placeholder: #6a737d,
    color-text-disabled: #6a737d,
    color-text-inverse: #fff,
    color-text-link: #0366d6,
    color-text-danger: #cb2431,
    color-text-success: #22863a,
    color-text-warning: #b08800,
    color-text-white: #fff,
    color-icon-primary: #24292e,
    color-icon-secondary: #586069,
    color-icon-tertiary: #959da5,
    color-icon-info: #0366d6,
    color-icon-danger: #d73a49,
    color-icon-success: #22863a,
    color-icon-warning: #b08800,
    color-border-primary: #e1e4e8,
    color-border-secondary: #eaecef,
    color-border-tertiary: #d1d5da,
    color-border-overlay: #e1e4e8,
    color-border-inverse: #fff,
    color-border-info: #0366d6,
    color-border-danger: #d73a49,
    color-border-success: #34d058,
    color-border-warning: #f9c513,
    color-bg-canvas: #fff,
    color-bg-canvas-mobile: #fff,
    color-bg-canvas-inverse: #24292e,
    color-bg-canvas-inset: #f6f8fa,
    color-bg-primary: #fff,
    color-bg-secondary: #fafbfc,
    color-bg-tertiary: #f6f8fa,
    color-bg-overlay: #fff,
    color-bg-backdrop: rgba(27, 31, 35, 0.5),
    color-bg-info: #f1f8ff,
    color-bg-info-inverse: #0366d6,
    color-bg-danger: #ffeef0,
    color-bg-danger-inverse: #d73a49,
    color-bg-success: #dcffe4,
    color-bg-success-inverse: #28a745,
    color-bg-warning: #fff5b1,
    color-bg-warning-inverse: #ffd33d,
    color-btn-text: #24292e,
    color-btn-bg: #fafbfc,
    color-btn-border: rgba(27, 31, 35, 0.15),
    color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    color-btn-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.25),
    color-btn-hover-bg: #f3f4f6,
    color-btn-hover-border: rgba(27, 31, 35, 0.15),
    color-btn-selected-bg: #edeff2,
    color-btn-focus-bg: #fafbfc,
    color-btn-focus-border: rgba(27, 31, 35, 0.15),
    color-btn-focus-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3),
    color-btn-shadow-active: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15),
    color-btn-shadow-input-focus: 0 0 0 0.2em rgba(3, 102, 214, 0.3),
    color-btn-primary-text: #fff,
    color-btn-primary-bg: #2ea44f,
    color-btn-primary-border: rgba(27, 31, 35, 0.15),
    color-btn-primary-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    color-btn-primary-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.03),
    color-btn-primary-hover-bg: #2c974b,
    color-btn-primary-hover-border: rgba(27, 31, 35, 0.15),
    color-btn-primary-selected-bg: #2a8f47,
    color-btn-primary-selected-shadow: inset 0 1px 0 rgba(20, 70, 32, 0.2),
    color-btn-primary-disabled-text: hsla(0, 0%, 100%, 0.8),
    color-btn-primary-disabled-bg: #94d3a2,
    color-btn-primary-disabled-border: rgba(27, 31, 35, 0.1),
    color-btn-primary-focus-bg: #2ea44f,
    color-btn-primary-focus-border: rgba(27, 31, 35, 0.15),
    color-btn-primary-focus-shadow: 0 0 0 3px rgba(46, 164, 79, 0.4),
    color-btn-primary-icon: hsla(0, 0%, 100%, 0.8),
    color-btn-primary-counter-bg: hsla(0, 0%, 100%, 0.2),
    color-btn-outline-text: #0366d6,
    color-btn-outline-hover-text: #fff,
    color-btn-outline-hover-bg: #0366d6,
    color-btn-outline-hover-border: rgba(27, 31, 35, 0.15),
    color-btn-outline-hover-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    color-btn-outline-hover-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.03),
    color-btn-outline-hover-counter-bg: hsla(0, 0%, 100%, 0.2),
    color-btn-outline-selected-text: #fff,
    color-btn-outline-selected-bg: #035fc7,
    color-btn-outline-selected-border: rgba(27, 31, 35, 0.15),
    color-btn-outline-selected-shadow: inset 0 1px 0 rgba(5, 38, 76, 0.2),
    color-btn-outline-disabled-text: rgba(3, 102, 214, 0.5),
    color-btn-outline-disabled-bg: #fafbfc,
    color-btn-outline-disabled-counter-bg: rgba(3, 102, 214, 0.05),
    color-btn-outline-focus-border: rgba(27, 31, 35, 0.15),
    color-btn-outline-focus-shadow: 0 0 0 3px rgba(0, 92, 197, 0.4),
    color-btn-outline-counter-bg: rgba(3, 102, 214, 0.1),
    color-btn-danger-text: #d73a49,
    color-btn-danger-hover-text: #fff,
    color-btn-danger-hover-bg: #cb2431,
    color-btn-danger-hover-border: rgba(27, 31, 35, 0.15),
    color-btn-danger-hover-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    color-btn-danger-hover-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.03),
    color-btn-danger-hover-counter-bg: hsla(0, 0%, 100%, 0.2),
    color-btn-danger-selected-text: #fff,
    color-btn-danger-selected-bg: #d42d3d,
    color-btn-danger-selected-border: rgba(27, 31, 35, 0.15),
    color-btn-danger-selected-shadow: inset 0 1px 0 rgba(134, 24, 29, 0.2),
    color-btn-danger-disabled-text: rgba(215, 58, 73, 0.5),
    color-btn-danger-disabled-bg: #fafbfc,
    color-btn-danger-disabled-counter-bg: rgba(215, 58, 73, 0.05),
    color-btn-danger-focus-border: rgba(27, 31, 35, 0.15),
    color-btn-danger-focus-shadow: 0 0 0 3px rgba(203, 36, 49, 0.4),
    color-dropdown-shadow: 0 8px 24px rgba(149, 157, 165, 0.2),
    color-label-border: #e1e4e8,
    color-label-primary-text: #24292e,
    color-label-primary-border: #6a737d,
    color-label-secondary-text: #586069,
    color-label-secondary-border: #e1e4e8,
    color-label-info-text: #0366d6,
    color-label-info-border: #0366d6,
    color-label-success-text: #22863a,
    color-label-success-border: #28a745,
    color-label-warning-text: #735c0f,
    color-label-warning-border: #b08800,
    color-label-danger-text: #d73a49,
    color-label-danger-border: #cb2431,
    color-label-orange-text: #c24e00,
    color-label-orange-border: #f66a0a,
  ),
  dark: (
    tint: lighten,
    dark: #24292e,
    color-auto-black: #f0f6fc,
    color-auto-white: #010409,
    color-auto-gray-3: #30363d,
    color-auto-gray-4: #484f58,
    color-auto-gray-5: #6e7681,
    color-auto-gray-6: #8b949e,
    color-auto-blue-3: #1158c7,
    color-auto-blue-4: #1f6feb,
    color-auto-blue-5: #388bfd,
    color-auto-blue-6: #58a6ff,
    color-auto-green-3: #196c2e,
    color-auto-green-4: #238636,
    color-auto-green-5: #2ea043,
    color-auto-green-6: #3fb950,
    color-auto-yellow-3: #845306,
    color-auto-yellow-4: #9e6a03,
    color-auto-yellow-5: #bb8009,
    color-auto-yellow-6: #d29922,
    color-auto-orange-3: #9b4215,
    color-auto-orange-4: #bd561d,
    color-auto-orange-5: #db6d28,
    color-auto-orange-6: #f0883e,
    color-auto-red-3: #b62324,
    color-auto-red-4: #da3633,
    color-auto-red-5: #f85149,
    color-auto-red-6: #ff7b72,
    color-auto-purple-3: #6e40c9,
    color-auto-purple-4: #8957e5,
    color-auto-purple-5: #a371f7,
    color-auto-purple-6: #bc8cff,
    color-auto-pink-3: #9e3670,
    color-auto-pink-4: #bf4b8a,
    color-auto-pink-5: #db61a2,
    color-auto-pink-6: #f778ba,
    color-text-primary: #c9d1d9,
    color-text-secondary: #8b949e,
    color-text-tertiary: #8b949e,
    color-text-placeholder: #484f58,
    color-text-disabled: #484f58,
    color-text-inverse: #0d1117,
    color-text-link: #58a6ff,
    color-text-danger: #f85149,
    color-text-success: #56d364,
    color-text-warning: #e3b341,
    color-text-white: #f0f6fc,
    color-icon-primary: #c9d1d9,
    color-icon-secondary: #6e7681,
    color-icon-tertiary: #484f58,
    color-icon-info: #79c0ff,
    color-icon-danger: #f85149,
    color-icon-success: #56d364,
    color-icon-warning: #e3b341,
    color-border-primary: #30363d,
    color-border-secondary: #21262d,
    color-border-tertiary: #6e7681,
    color-border-overlay: #30363d,
    color-border-inverse: #f0f6fc,
    color-border-info: rgba(56, 139, 253, 0.4),
    color-border-danger: rgba(248, 81, 73, 0.4),
    color-border-success: rgba(63, 185, 80, 0.4),
    color-border-warning: rgba(187, 128, 9, 0.4),
    color-bg-canvas: #0d1117,
    color-bg-canvas-mobile: #010409,
    color-bg-canvas-inverse: #f0f6fc,
    color-bg-canvas-inset: #06090f,
    color-bg-primary: #0d1117,
    color-bg-secondary: #0d1117,
    color-bg-tertiary: #161b22,
    color-bg-overlay: #21262d,
    color-bg-backdrop: rgba(1, 4, 9, 0.8),
    color-bg-info: rgba(56, 139, 253, 0.1),
    color-bg-info-inverse: #388bfd,
    color-bg-danger: rgba(248, 81, 73, 0.1),
    color-bg-danger-inverse: #da3633,
    color-bg-success: rgba(46, 160, 67, 0.1),
    color-bg-success-inverse: #2ea043,
    color-bg-warning: rgba(187, 128, 9, 0.1),
    color-bg-warning-inverse: #bb8009,
    color-state-hover-primary-bg: #1f6feb,
    color-state-hover-primary-border: #388bfd,
    color-state-hover-primary-text: #f0f6fc,
    color-state-hover-primary-icon: #f0f6fc,
    color-state-hover-secondary-bg: #161b22,
    color-state-hover-secondary-border: #161b22,
    color-state-selected-primary-bg: #1f6feb,
    color-state-selected-primary-border: #388bfd,
    color-state-selected-primary-text: #f0f6fc,
    color-state-selected-primary-icon: #f0f6fc,
    color-state-focus-border: #388bfd,
    color-state-focus-shadow: 0 0 0 3px #0c2d6b,
    color-btn-text: #c9d1d9,
    color-btn-bg: #21262d,
    color-btn-border: #30363d,
    color-btn-shadow: 0 0 transparent,
    color-btn-inset-shadow: 0 0 transparent,
    color-btn-hover-bg: #30363d,
    color-btn-hover-border: #8b949e,
    color-btn-selected-bg: #161b22,
    color-btn-focus-bg: #21262d,
    color-btn-focus-border: #8b949e,
    color-btn-focus-shadow: 0 0 0 3px rgba(139, 148, 158, 0.3),
    color-btn-shadow-active: inset 0 0.15em 0.3em rgba(1, 4, 9, 0.15),
    color-btn-shadow-input-focus: 0 0 0 0.2em rgba(31, 111, 235, 0.3),
    color-btn-primary-text: #fff,
    color-btn-primary-bg: #238636,
    color-btn-primary-border: #2ea043,
    color-btn-primary-shadow: 0 0 transparent,
    color-btn-primary-inset-shadow: 0 0 transparent,
    color-btn-primary-hover-bg: #2ea043,
    color-btn-primary-hover-border: #3fb950,
    color-btn-primary-selected-bg: #238636,
    color-btn-primary-selected-shadow: 0 0 transparent,
    color-btn-primary-disabled-text: rgba(240, 246, 252, 0.5),
    color-btn-primary-disabled-bg: rgba(35, 134, 54, 0.6),
    color-btn-primary-disabled-border: transparent,
    color-btn-primary-focus-bg: #238636,
    color-btn-primary-focus-border: #3fb950,
    color-btn-primary-focus-shadow: 0 0 0 3px rgba(46, 164, 79, 0.4),
    color-btn-primary-icon: #f0f6fc,
    color-btn-primary-counter-bg: rgba(240, 246, 252, 0.2),
    color-btn-outline-text: #58a6ff,
    color-btn-outline-hover-text: #58a6ff,
    color-btn-outline-hover-bg: #30363d,
    color-btn-outline-hover-border: #58a6ff,
    color-btn-outline-hover-shadow: 0 1px 0 rgba(1, 4, 9, 0.1),
    color-btn-outline-hover-inset-shadow: inset 0 1px 0 rgba(240, 246, 252, 0.03),
    color-btn-outline-hover-counter-bg: rgba(240, 246, 252, 0.2),
    color-btn-outline-selected-text: #f0f6fc,
    color-btn-outline-selected-bg: #0d419d,
    color-btn-outline-selected-border: rgba(240, 246, 252, 0.1),
    color-btn-outline-selected-shadow: 0 0 transparent,
    color-btn-outline-disabled-text: rgba(88, 166, 255, 0.5),
    color-btn-outline-disabled-bg: #0d1117,
    color-btn-outline-disabled-counter-bg: rgba(31, 111, 235, 0.05),
    color-btn-outline-focus-border: #58a6ff,
    color-btn-outline-focus-shadow: 0 0 0 3px rgba(17, 88, 199, 0.4),
    color-btn-outline-counter-bg: rgba(31, 111, 235, 0.1),
    color-btn-danger-text: #f85149,
    color-btn-danger-hover-text: #fff,
    color-btn-danger-hover-bg: #da3633,
    color-btn-danger-hover-border: #f85149,
    color-btn-danger-hover-shadow: 0 0 transparent,
    color-btn-danger-hover-inset-shadow: 0 0 transparent,
    color-btn-danger-hover-counter-bg: hsla(0, 0%, 100%, 0.2),
    color-btn-danger-selected-text: #fff,
    color-btn-danger-selected-bg: #b62324,
    color-btn-danger-selected-border: rgba(240, 246, 252, 0.1),
    color-btn-danger-selected-shadow: 0 0 transparent,
    color-btn-danger-disabled-text: #f85149,
    color-btn-danger-disabled-bg: #0d1117,
    color-btn-danger-disabled-counter-bg: rgba(218, 54, 51, 0.05),
    color-btn-danger-focus-border: #f85149,
    color-btn-danger-focus-shadow: 0 0 0 3px rgba(182, 35, 36, 0.4),
    color-btn-danger-counter-bg: rgba(218, 54, 51, 0.1),
    color-dropdown-shadow: 0 16px 32px rgba(1, 4, 9, 0.85),
    color-label-border: #30363d,
    color-label-primary-text: #b1bac4,
    color-label-primary-border: #6e7681,
    color-label-secondary-text: #8b949e,
    color-label-secondary-border: #30363d,
    color-label-info-text: #388bfd,
    color-label-info-border: rgba(56, 139, 253, 0.4),
    color-label-success-text: #3fb950,
    color-label-success-border: rgba(46, 160, 67, 0.4),
    color-label-warning-text: #e3b341,
    color-label-warning-border: rgba(242, 211, 91, 0.4),
    color-label-danger-text: #f85149,
    color-label-danger-border: rgba(248, 81, 73, 0.4),
    color-label-orange-text: #db6d28,
    color-label-orange-border: rgba(219, 109, 40, 0.4),
  ),
);

@mixin theme {
  @each $theme-name, $theme in $scheme {
    $map-theme: () !global;

    @each $key, $color in $theme {
      $map-theme: map-merge(
        $map-theme,
        (
          $key: $color,
        )
      ) !global;
    }

    body[data-theme='#{$theme-name}'] {
      @content;
    }

    $map-theme: null !global;
  }
}

@function color($key) {
  @return map-get($map-theme, $key);
}

@function tint($color, $percent) {
  $mode: map-get($map-theme, tint);
  @if $mode == lighten {
    @return lighten($color, $percent);
  } @else {
    @return darken($color, $percent);
  }
}
