@import 'colors';
@import 'component';
@import 'transition';
@import 'responsive';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  user-select: none;

  @include size(md) {
    font-size: 16px;
  }

  @include size(xl) {
    font-size: 18px;
  }
}

@include theme {
  background-color: t(color-bg-secondary);
  color: t(color-text-primary);

  a,
  a:visited {
    color: t(color-text-link);
  }
}
