@import '@/styles/colors';

@include theme {
  span.tag {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.2s;
    padding: 0.1rem 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;

    &:nth-last-child(1) {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.5;
    }

    &.red {
      background-color: t(color-auto-red-4);
    }

    &.pink {
      background-color: t(color-auto-pink-4);
    }

    &.orange {
      background-color: t(color-auto-orange-4);
    }

    &.yellow {
      background-color: t(color-auto-yellow-4);
    }

    &.green {
      background-color: t(color-auto-green-4);
    }

    &.blue {
      background-color: t(color-auto-blue-4);
    }

    &.purple {
      background-color: t(color-auto-purple-4);
    }

    &.gray {
      background-color: t(color-auto-gray-4);
    }

    &.empty {
      color: t(color-text-tertiary);
      background-color: t(color-bg-secondary);
      border: 1px dashed t(color-border-primary);
    }

    &.all {
      color: t(color-text-tertiary);
      background-color: t(color-bg-primary);
      border: 1px solid t(color-border-primary);
    }
  }
}
